#main { width:963px; margin:0 auto; text-align:left;}
.footer {width:943px; margin:0 auto; text-align:right;}
#header {height:445px;}
#header_news {height:445px;}
#header_education {height:445px;}
#header_labsuppliers {height:445px;}
#header_noImage {height:106px;}

#footer { height:95px;}

.col1, .col2, .col3, .col2small {float:left;}
.wrapper {width:100%; overflow:hidden;}

/* ============================= page1 ===========================*/
#page1 .col1 { width:698px; margin-right:15px; padding-left:8px;}
#page1 .col2 { width:239px;}
#page1 .col1 .tab_content .left {width:390px;}
/* ============================= page2 - Universities LabSuppliers ===========================*/
#page2 .col1 { width:696px; margin-right:18px; padding-left:8px; padding-top:1px;}
#page2 .col2small { width:239px;}
#page2 .col1 .tab_content .left {width:390px;}

/* ============================= page3 ===========================*/
#page3 .col2 { width:698px;}
#page3 .col1 { width:239px; margin-right:17px; padding-left:8px; }
#page3 .col2 .tab_content .left {width:430px;}

/* ============================= page4 ===========================*/
#page4 .col1 { width:696px; margin-right:18px; padding-left:8px;}
#page4 .col2 { width:239px;}
#page4 .col1 .tab_content .left {width:390px;}

/* ============================= page5 ===========================*/
#page5 .col1 { width:698px; margin-right:15px; padding-left:8px;}
#page5 .col2 { width:239px;}
#page5 .col1 .tab_content .left {width:390px;}


/* ============================= page6 ===========================*/
#page6 .col2 { width:698px;}
#page6 .col1 { width:239px; margin-right:17px; padding-left:8px; }

