﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="QMULVirtualTissueLab.aspx.vb" Inherits="QMULVirtualTissueLab" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>QMUL Virtual Tissue Lab - Learnexx 3D Virtual Labs</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    </form>
</body>
</html>
