/* CSS Document */

* {
	margin:0; padding:0;
	font-size:100%;
}

body{
	background:#FFF url(images/bg_tail.jpg) repeat-x top center;
	text-align:center;
}

img {vertical-align:top;}
a img { border:0;}

ul { list-style:none;}

.left { float:left;}
.right {float:right;}
.clear  { clear:both;}


html, input, textarea
	{
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		line-height:17px;
		color:#8f8f8f;
	}

input, select { vertical-align:middle; font-weight:normal;}

a {color:#87A7AB; outline:none;}
a:hover{text-decoration:none;}
p {padding-bottom:15px;}
p.extra {color:#5c5c56; line-height:18px;}

#slider1_container a 
{
    color:#FFFFFF;
}

h1 {background:url(image/Learnexx3DLogo.png) no-repeat left center; padding-left:75px;
	font-weight:normal;}
h1 a { 
	color:#868686;
	font-size:11px;}
h1 a span {
	text-transform:none;
	font-weight:normal;
	letter-spacing:normal;
}
h1 a span.big {
	font-size:43px; 
	color:#75c124;
	line-height:1.2em;
	letter-spacing:-2px;
	text-transform:uppercase;
	font-weight:bold;
	}
h1 a span.small {
	color:#3d3d3d; 
	font-size:30px;
	line-height:1.2em;
	letter-spacing:-1px;	
}
h2 {
	font-size:18px; 
	color:#151515; 
	padding:20px 0 15px;
}
h2 span {color:#81c728;}
h3 {
	font-size:16px; 
	color:#fff;
	line-height:1.2em;
	font-style:italic;
	text-transform:uppercase;
	}
h5{
	font-size:16px; 
	color:#000; 
	font-weight:normal; 
	line-height:19px;
	padding-bottom:20px;
}
h5 span {color:#81c728;}
h6 {
	font-size:12px; 
	color:#160a09;
	font-weight:bold;
}
/* ============================= main layout ====================== */
.bg_top {background:url(images/bg_top.jpg) no-repeat top center; padding:60px 0 0;}
li { background:url(images/marker1.gif) no-repeat 0 7px; padding-left:12px; line-height:1.5em;}
li a {color:#B6BDC3;}

.imgindent {margin:0 24px 0 0; float:left;}
.fright {text-align:right;}

.first {padding-top:0;}
.last {padding-bottom:0;}
/* ============================= header ====================== */
#header {padding:30px 0 0;}
#header a {text-decoration:none;}
#header .right {text-align:right;}

#header_noImage {padding:30px 0 0;}

.menu {overflow:hidden;}
.menu li {float:left; text-transform:uppercase; padding:0;}
.menu li a {
	color:#778383; 
	letter-spacing:-1px;
	display:inline-block;
	font-size:13px;
	}
.menu li a span {padding:5px 18px 6px;
	background:url(images/menu_bg.gif) no-repeat right top;
	display:inline-block;}
.menu li a.last span {background:none;}	
.menu a:hover {color:#2fc7f9;}

.menu li a.active {
	background:#2fc7f9 url(images/menu_right.gif) no-repeat right top; 
	color:#fff; 
	cursor:default;
}
.menu li a.active span {
	background:url(images/menu_left.gif) no-repeat left top; color:#fff;}
.menu li a span span, .menu li a.active span span {background:none; padding:0;}
.menu .prev {background:none;}

#SearchForm {padding-bottom:30px; background:url(images/search_bg.gif) no-repeat 344px 0;}
#SearchForm input {background:none; border:0; width:165px; padding:5px 0 0; margin-right:10px;}

/* ============================= content ====================== */
#content {padding:11px 0 18px;}
.content ul a {color:#26addf;}

.signup1{
	float:left;
	width:100px;
}

.signupTitleRow
{
   	padding:22px 0 0 0; 
}

.signup2{
	float:left;
	width:600px;
	padding:0 0 0 0;
}

.signup3
{
    clear:both;
	float:left;
	width:750px;
}

.errormessage
{
    color:Red;
}

.banner1, .banner2, .banner3{
	background:url(images/banner_bg.gif) no-repeat bottom center;
	float:left;
	width:218px;
	height:203px;
	padding:5px 0 0;
}
.banner1 .block1_title {background:url(image/Learnexx3DSiteBanner1.png) no-repeat top center;}
.banner2 {margin:0 19px 0 22px;}
.banner2 .block1_title {background:url(image/Learnexx3DSiteBanner2.png) no-repeat top center;}
.banner3 .block1_title {background:url(image/Learnexx3DSiteBanner3.png) no-repeat top center;}

.banners {padding-bottom:5px;}
.banners h6 {
	font-size:12px; 
	font-weight:bold; 
	padding:26px 0 10px;}
.banner1 h6 {color:#26addf;}
.banner2 h6 {color:#ec8f26;}
.banner3 h6 {color:#75c124;}

.block_content {padding:0 25px; color:#363636;}
.block_content a {color:#363636;}
.block_content .link a {
	background:url(images/banner_link_bg.jpg) no-repeat center left; 
	color:#464444;
	font-size:17px;
	padding-left:25px;
	text-decoration:none;
	letter-spacing:-1px;
}
.banner1 .block_content .link a:hover {color:#26addf;}
.banner2 .block_content .link a:hover {color:#ec8f26;}
.banner3 .block_content .link a:hover {color:#75c124;}

.banner4, .banner5, .banner6{
	background:url(image/banner4-6_bg.gif) no-repeat bottom center;
	float:left;
	width:218px;
	height:90px;
	padding:0 0 0 0;
}
.banner5 {margin:0 19px 0 22px;} /*spacing between banners */
.imgcenter_90 {margin-left: auto; margin-right: auto; width: 90%;}
.imgcenter_64 {margin-left: auto; margin-right: auto; width: 64%; padding-top:10px}
.imgcenter_88 {margin-left: auto; margin-right: auto; width: 88%; padding-top:20px}
.imgcenter_70 {margin-left: auto; margin-right: auto; width: 70%; padding-top:20px}

/*vertical align*/
.block1_title {
	line-height:62px;
	padding:0 0 0 75px;
	color:#393939;
	width:140px;
}
.tite {
	display:inline-block;
	line-height: 1.2em;
	vertical-align:middle;
	font-size:16px;
	color:#fff;
	font-style:italic;
	text-transform:uppercase;
}
.iefix {
    display:none;
} 

.nifty {border:1px solid #dfeaec;}


.link_ul {padding:0 18px 14px 18px; border-color:#e9e5e5;}
.link_ul h2 {padding-left:16px;}
.link_ul ul {padding:11px 0 12px 20px; border-top:1px dotted #d4d4d4;}
.link_ul ul.first {border:none; padding-top:3px;}
.content li {
	background:url(images/list_marker.gif) no-repeat left center; 
	padding-left:15px;
	line-height:24px;
}

/*tabs*/
.tabs_container {	
	margin: 65px 0 0 2px;
	position:relative; 
	background:url(images/tabs_bg_top.gif) no-repeat 0 top;
}
.tabfull_container {	
	margin: 65px 0 0 2px;
	position:relative; 
	background:url(images/tabsfull_bg_top.gif) no-repeat 0 top;
}
.tabs {
	position:absolute; 
	top:-45px; 
	left:0; padding:0 0 5px;
	overflow:hidden;
	background:url(images/ul_tab_bg.gif) repeat-y left top;}
.tab{	background:url(images/tabs_bg_tail.gif) repeat-y 2px center;}
.tabfull{	background:url(images/tabsfull_bg_tail.gif) repeat-y 2px center;}
.tabs li {
	float:left;
	display:inline-block; 
	text-transform:uppercase;
	border-bottom:0;
	padding:15px 0 6px;
	text-align:center;
	background:url(images/tabs_bg.gif) no-repeat top left;
	margin-right:2px;
	}
.tabs li a {
	text-decoration:none; 
	color:#7d8793;
	display:inline-block;
	text-align:center; 
	width:176px;
	height:29px;}

.content li a {font-weight:bold;}
.tab_content {	background:url(images/blocks_bg1.gif) no-repeat bottom left;}
.tabfull_content {	background:url(images/blocksfull_bg1.gif) no-repeat bottom left;}

.content .tabs a:hover { color:#26addf;}
.content .tabs li a.active,.content .tabs li a.active:hover {color:#383737; cursor:default; border:none;}
.content .tab_content, .content .tabfull_content { padding:4px 15px 25px 25px;}
.content .tab_content li {background:url(images/form_marker.jpg) no-repeat center left; padding-left:14px; line-height:23px;}
.content .tab_content li a { font-weight:normal;}

.cols ul {float:left; width:200px; padding:11px 0 15px;}
#page6 .cols ul {padding:0 0 5px;}
.cols ul.middle {margin:0 45px;}
.col2 ul {float:left; width:600px; padding:11px 0 15px;}
.col2small ul {float:left; width:200px; padding:11px 0 15px;}

.nifty_top {background:url(images/nifty_top.gif) no-repeat top left;}
.nifty_bottom {background:url(images/nifty_bottom.gif) no-repeat bottom left;}
.nifty_bg {background:url(images/nifty_bg_tail.gif) repeat-y top left;}
p.last {padding-bottom:0;}
.row1 .tabs_container, .row1 .tabfull_container {margin:10px 0 4px 2px;}
#page4 .row1 .tabs_container {margin-top:1px;}
#page5 .col2 .row1 h2 {letter-spacing:-1px;}

.rows {padding:4px 20px 12px 38px;}
.location {padding:4px 20px 12px 18px;}

.newsletter {padding:4px 20px 12px 38px;}
.newsletter input {width:150px; border:0; background:none; padding:5px 0; margin:0 5px 8px;}
#NewsForm div {background:url(images/input_bg.jpg) no-repeat left 17px; padding:0 0 10px;}
.newsletter a {color:#4a4949; padding-right:32px}
.newsletter a.btn {padding-right:0;}


/*buttons*/
a.btn {
	background:#f9982f;
	display:inline-block;
	font-size:11px;
	line-height:26px;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	margin-top:5px;
	
}
a.btn span{
	background:url(images/btn_left.gif) no-repeat left top;
	display:inline-block;
}
a.btn span span{
	background:url(images/btn_right.gif) no-repeat right top;
	padding:0 8px;
}

a.btn:hover {
	background:#2fc7f9 url(images/btn_left.gif) no-repeat left bottom;
	display:inline-block;
}
a.btn:hover span {
	background:url(images/btn_right.gif) no-repeat right bottom;
	display:inline-block;
}

.comments {padding:0 27px 14px 40px;}
.comments p {padding:5px 0 0;}
.comments p.fright {
	font-weight:bold;
	color:#160a09;
	padding-bottom:16px;
	padding-top:0;
}
#page4 .col2 .row1 h2{ letter-spacing:-2px;}
.row_pad {padding-right:30px;}

/*phone*/
.phone span {display:inline-block; width:93px; font-weight:normal;}
.phone a {color:#26addf;}

#page6 .col1 h6 {padding-top:2px;}
/* ============================= footer ====================== */
#footer {background:url(images/footer_bg.gif) repeat-x top center;}
.footer 
{
	color:#5c5c5c;
	font-size:11px;
	padding:30px 0 0;
	}
.footer a {color:#5c5c5c;}

/* ======================== privacy policy ====================== */
#page7 .content .tab_content {padding:4px 30px 15px 40px;}
#page7 .tab_content p {padding-top:2px;}
#page7 .tabs_container {margin:0 0 4px 8px;}
#page7 .tab_content a {text-decoration:none; font-weight:bold; color:#2fc7f9;}
#page7 .tab_content a:hover {text-decoration:underline;}
#page7 .tabs_container, #page7 .tab_content {background:none;}

/* ======================== licence agreement ====================== */
#page8 .content .tab_content {padding:4px 30px 15px 40px;}
#page8 .tab_content p {padding-top:2px;}
#page8  .content .tab_content ol {padding-left: 20px}
#page8  .content .tab_content li {background:none; padding-left: 5px}
#page8 .tabs_container {margin:0 0 4px 8px;}
#page8 .tab_content a {text-decoration:none; font-weight:bold; color:#2fc7f9;}
#page8 .tab_content a:hover {text-decoration:underline;}
#page8 .content {background:url(images/bg_legal.gif) no-repeat right 10px;}
#page8 .tabs_container, #page8 .tab_content {background:none;}

/* ======================== sign up ====================== */
#page9 .content .tab_content {padding:4px 30px 15px 40px;}
#page9 .tab_content p {padding-top:2px;}
#page9  .content .tab_content ol {padding-left: 20px}
#page9  .content .tab_content li {background:none; padding-left: 5px}
#page9 .tabs_container {margin:0 0 4px 8px;}
#page9 .tab_content a {text-decoration:none; font-weight:bold; color:#000000;}
#page9 .tab_content a:hover {text-decoration:underline;}
#page9 .content {background:url(images/bg_signups.gif) no-repeat right 10px;}
#page9 .tabs_container, #page9 .tab_content {background:none;}


/* ============================= forms ============================= */
#ContactForm input {
	border:1px solid #a4a4a4;
	padding:2px 5px;
	width:286px;
}

#ContactForm label {height:26px; display:block;}

textarea {width:321px; height:97px;
	border:1px solid #a4a4a4; background:none; padding:0 0 0 5px; overflow:auto; font-size:1em;}
#ContactForm .btn {margin-right:10px;}
#ContactForm p.fright {padding-bottom:0; padding-right:10px;}
#ContactForm .left {width:302px; overflow:hidden;}
#ContactForm .right {width:350px;}